a:link {
    color:brown;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color:darkred;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color:crimson;
    background-color: transparent;
    text-decoration: none;
}

img {
    position: center;
    left: 50%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #dabebe;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}